
body{
    background: url(img/imagem.gif); 
    background-repeat: no-repeat;
    background-size: cover; 
    font: normal, small, 12px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: monospace;
    text-align: center;
    color: whitesmoke;
}
button{
    color: black;
    margin: auto auto;
    
}